/* background pattern from http://subtlepatterns.com/ */

html {
    width:100%;
    height:100%;
    display:table;
}
body {
    width:100%;
    height:100%;
    display:table-cell;
    vertical-align:middle;
	font: 1em Helvetica, Verdana, Arial, sans-serif;
    background:url(subtlepatterns/bright_squares.png);
    background:url(cubes.png);
}
.box {
    width:560px;
    background:rgba(128,128,128,0.3);
    margin:auto;
    padding:20px;
    
    /* from www.css3.me */
    -moz-border-radius:50px 0px;
    -webkit-border-radius:50px 0px 50px 0px;/*This is the correct shorthand for webkit*/
    border-radius:50px 0px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow:0px 3px 3px #444444;
    -webkit-box-shadow:0px 3px 3px #444444;
    box-shadow:0px 3px 3px #444444;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength=3, direction=180, color='#444444');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=3, Direction=180, Color='#444444')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}
h1 {
    font-size: 3em;
    font-variant:small-caps;
	border-bottom: 1px solid #515932;
}
h1 a {
	color: #515932;
}
.left {
    float:left;
    width:35%;
    height:100%;
}
.right {
    float:right;
    width:60%;
    height:100%;
}
.right-align {
    text-align:right;
}
.left-align {
    text-align:left;
}
.header {
    padding:1em 0 1em 0;
}
.footer {
    clear:both;
    padding:1em 0 0 0;
}
a {
    text-decoration:none;
}
a:link{
    color: #00717d;
}
a:visited {
    color: #003647;
}
a:hover {
    color: #003647;
}